# Binaries
bin/
*.exe

# Environment
.env
deploy/kubernetes/**/secret.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/
.gocache/

# Test
coverage.out
coverage.html

tmp/
outputs/
